<div
  id="editVaccineModal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-width: 650px">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title montserrat-regular">Edit a Vaccine</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form action="/account/pets/<%=pet.id%>/vaccines" method="POST">
          <div class="mb-3">
            <label class="form-label">Vaccine Name</label>
            <select name="vaccineId">
              <% vaccines.forEach((v) => { %>
              <option value="<%= v.id%>">
                <%= v.vaccineName%> - <%=v.description%>
              </option>
              <% }) %>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Date Taken</label>
            <input type="date" name="dateTaken" />
          </div>

          <button type="submit" class="montserrat-regular bg-black">
            SAVE
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
