<div class="card align-items-center">
  <div class="card-body">
    <h5 class="card-title">
      <a href="tatianabertazoli@gmail.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://www.linkedin.com/in/tatibertazoli">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/TBertazoli/vet-records">
        <i class="fa-brands fa-github"></i>
      </a>
    </h5>
    <p class="card-text">&copy 2024 tbertazoli</p>
  </div>
</div>
