<div class="card align-items-center mt-5">
  <div class="card-body">
    <h5 class="card-title">
      <a href="mailto:tatianabertazoli@gmail.com">
        <i class="fa-solid fa-envelope fa-xl m-2"></i>
      </a>
      <a href="https://www.linkedin.com/in/tatibertazoli">
        <i class="fa-brands fa-linkedin fa-xl m-2"></i>
      </a>
      <a href="https://github.com/TBertazoli/vet-records">
        <i class="fa-brands fa-github fa-xl m-2"></i>
      </a>
    </h5>
    <p class="card-text p-2">&copy 2024 tbertazoli</p>
  </div>
</div>
