<div class="container-sm" id="hero">
  <div id="hero-text">
    <h1 class="montserrat-regular">PetVaxVault</h1>
    <p>Store your pets information all in one place</p>
    <button class="montserrat-regular">LEARN MORE</button>
  </div>
</div>
