<div class="container g-0" id="nav">
  <div class="navbar navbar-expand-md bg-body-tertiary montserrat-regular mb-2">
    <div class="container">
      <a class="navbar-brand montserrat-regular" href="/">PetVaxVault</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 montserrat-medium">
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/vaccines">VACCINE </a>
          </li>
          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/account">ACCOUNT </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">LOGOUT</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link login" href="/auth/google">LOGIN </a>
          </li>
          <% } %>
        </ul>
        <a href="/contact">
          <button class="montserrat-regular bg-black">CONTACT US</button>
        </a>
      </div>
    </div>
  </div>
</div>
