<header>
  <%- include('../partials/header') %> <%- include('../partials/navbar') %>
</header>
<body>
  <div class="container-md about bkg">
    <div id="hero-text">
      <h1 class="montserrat-regular">Vaccines</h1>
    </div>
  </div>

  <div class="container-md mt-5">
    <div class="text-center">
      <label class="montserrat-medium">VACCINES</label>
      <h2 class="montserrat-regular">Our list of vaccines selection</h2>
    </div>
  </div>
  <div class="container-md mt-5">
    <div class="row g-0 vaccine">
      <div class="col dogCard">
        <div class="card">
          <img
            class="card-img-top"
            src="../images/pet7.jpeg"
            alt="picture of a cat"
          />
          <div class="card-body montserrat-regular">
            <h5>DOG</h5>
          </div>
        </div>
      </div>

      <div class="col catCard">
        <div class="card">
          <img
            class="card-img-top"
            src="../images/pet6.jpeg"
            alt="picture of a cat"
          />
          <div class="card-body montserrat-regular">
            <h5>CAT</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer><%- include('../partials/footer') %></footer>
