/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

.card {
  border-color: transparent !important;
  opacity: 87%;
}

.bkg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 64px;
  text-shadow: 2px 2px 10px black;
}

h2 {
  /* padding: 20px 0px 40px 0px; */
  font-size: 36px;
}

/* -----navbar----- */
.navbar {
  ul {
    display: flex;
    margin-left: auto;
  }

  button {
    color: white;
    font-size: 16px;
    padding: 12px 25px;
  }
}
.navbar-brand {
  font-size: 24px;
  margin: 10px 0;
  display: block;
}
.nav-item {
  font: size 12px;
  padding: 9px 20px;
  color: #1a1b1f;
}

/* ------hero section----- */
#index-text {
  p {
    font-size: 36px;
    margin: 10px 0px 15px 0px;
  }
}
h5 {
  font-size: 12px;
}
.hero {
  background-image: url("../images/pet1.jpeg");
  height: 620px;

  p {
    color: black;
    text-shadow: 2px 2px 10px white;
  }

  button {
    background-color: white;
    font-size: 14px;
    color: black;
    padding: 16px 35px;
    border-color: transparent;
  }
}

.about {
  background-image: url("../images/pet4.jpeg");
  height: 480px;
}

#hero-text {
  text-align: center;
  padding: 150px;
}

/* ------index cards----- */
.animal {
  img {
    width: inherit;
  }

  .card-body {
    padding: 150px 0px;
    font-size: 16px;
  }
  h2 {
    padding-bottom: 20px;
  }
  button {
    background-color: black;
    color: white;
    padding: 16px 35px;
    border-color: transparent;
  }
  .container {
    padding-top: 30px;
  }
}
.animal-left {
  padding-left: 100px;
}
.animal-right {
  padding-right: 100px;
}

p,
label {
  color: grey;
}

label {
  font-size: 12px;
}

/* ----footer------ */
footer {
  .card-text {
    font-size: 0.875rem;
  }

  .card-title {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    color: gray;
  }
}

/* -----media queries----- */
@media (max-width: 1200px) {
  /* .hero {
    height: auto;
  } */
  .animal {
    .card-body {
      padding: 56px 40px;
    }
  }
  .animal-right {
    padding: 0px;
  }
  .animal-left {
    padding: 0px;
  }
  #hero-text {
    padding: 100px 0px;
  }
}

@media (max-width: 992px) {
  .hero {
    h1 {
      font-size: 40px;
    }
  }
  .animal {
    .row {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .navbar {
    button {
      font-size: 10px;
      padding: 5px 6px;
    }
    ul {
      font-size: 10px;
    }
  }
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #nav {
    max-width: none;
  }
}
