<header>
  <%- include('../partials/header') %> <%- include('../partials/navbar') %>
</header>
<body>
  <div class="container-md about bkg">
    <div id="hero-text">
      <h1 class="montserrat-regular">About Us</h1>
    </div>
  </div>
  <div class="container-md text-center mt-5" id="index-text">
    <h2 class="montserrat-regular">
      We’re a group of creative thinkers who have built a business to change the
      way to store your Pet's records
    </h2>
  </div>
  <div class="container-md text-center mt-5 montserrat-regular">
    <p>
      At PetVaxVault we're passionate about empowering pet owners with
      conevnient access to their furry companions' vaccination records.
    </p>
    <p>
      Recognizing the importance of timely vaccinations for pet health, we've
      developed a user friendly online platform that centralizes and secure
      stores essential pet health information.
    </p>

    <p>
      Our mission is to simplify pet care management, providing peace of mind to
      pet owners and ensuring the well-being of their beloved animals.
    </p>
    <p>
      With our dedication to innovation and pet welfare, we strive to be the
      trusted partner in every pet owner's journey towards reponsible pet care
    </p>
  </div>
  <div class="container-md mt-5">
    <div class="text-center">
      <label class="montserrat-medium">WHAT WE ARE BEST AT</label>
      <h2 class="montserrat-regular">Our Services</h2>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-sm">
          <div class="card-body montserrat-regular">
            <h5>Record Tracking</h5>
            <p>Keep your pets health information recorded all in one place</p>
          </div>
        </div>
        <div class="col-sm">
          <div class="card-body montserrat-regular">
            <h5>List of Vaccines</h5>
            <p>
              Gain access to a comprehensive list of vaccines necessary for your
              pet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer><%- include('../partials/footer') %></footer>
